* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}

.carousel {
  margin-top: 50px;
}

.carousel__container {
  width: 50%;
  /* margin-top: 0 auto; */
  border: 3px solid royalblue;
  overflow: hidden;
}

.carousel__container img {
  display: block;
  width: 100%;
}

.carousel__slide {
  display: flex;
  height: 350px;
}

.btnWrapper {
  margin-top: 15px;
  position: relative;
}

.btn {
  padding: 30px 40px;
  border-radius: 50%;
  font-size: 30px;
  background: royalblue;
  cursor: pointer;
  outline: 0;
  border: 1px solid royalblue;
}

 .btn-right {
  /* position: absolute; */
  margin-left: 1000px;
}

.transformAnimation {
  /*это класс подключаю через main.js*/
  transition: .4s all ease-in-out;
}